:host {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  list-style: none;
}

li > a{
  text-decoration: none;
  color: black;
}

.active {
  text-decoration: underline;
  font-style: oblique;
}

header {
  margin: 2rem;
}

div > span {
  border-bottom: 2px solid black;
  width: 4rem;
  display: block;
  margin-top: 1rem;
}

.burger {
  margin: 1rem 2rem 0 0;
}
