<footer>
  <div class="newsletter">
    <div class="desc">
      <p class="title font">Subscribe to our newsletter.</p>
      <p> To make your stay special - and even more memorable.</p>
    </div>
    <div class="form">
      <input placeholder="First Name*"/>
      <input placeholder="Last Name*"/>
      <input placeholder="Email*"/>
      <button>Subscribe Now</button>
    </div>
  </div>

  <div class="navigation">
    <ul>
      <li class="font">Company</li>
      <li>List your property</li>
      <li>Partnerships</li>
      <li>Newsroom</li>
      <li>Investor Relations</li>
      <li>Advertising</li>
    </ul>

    <ul>
      <li class="font">Terms And Policies</li>
      <li>Privacy policy</li>
      <li>Terms of use</li>
      <li>Expedia Rewards Terms</li>
      <li>Accessibility</li>
      <li>Support</li>
    </ul>

    <ul>
      <li class="font">About Us</li>
      <li>Contact Us</li>
      <li>News & Accolades</li>
      <li>Careers</li>
      <li>Privacy Policy</li>
      <li>Sitemap</li>
    </ul>

    <ul>
      <li class="font">Follow Us</li>
      <li>Facebook</li>
      <li>Instagram</li>
      <li>Twitter</li>
      <li>LinkedIn</li>
      <li>Tiktok</li>
    </ul>
  </div>
</footer>
